<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 
    <Properties>
        <Property name="LOG_PATTERN">%d [%t] %-5p %c - %m%n</Property>
    </Properties>
 
	<Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
	</Appenders>
	<Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
	</Loggers>
</Configuration>